<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <!-- 1、配置DispatcherServlet(前置控制器),这是配置 spring MVC 的第一步 -->
    <!-- 负责拦截 匹配规则的请求,对拦截下来的请求依据相应的规则分发到目标Controller处理 -->
    <servlet>
        <servlet-name>springDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring_mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springDispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>        <!-- 匹配此处规则的请求都将被 名为 springDispatcherServlet 的前置控制器处理,由前置控制器负责调度工作 -->
    </servlet-mapping>


    <!-- 不拦截某些文件（除了在 spring_mvc.xml配置文件 通过设置 <mvc:resources mapping="/**" location="/" /> 实现对静态资源的访问，也可在 web.xml 设置 不拦截 满足某些规则的文件 来实现对静态资源的访问，如下： ） -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/common/*</url-pattern>
    </servlet-mapping>
    

    <!-- 2、配置spring的核心配置文件(告知核心配置文件所在位置),才能成功启动spring容器 -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <!-- 3、使用监听器启动spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <!-- 4、添加过滤器,解决中文乱码问题 -->
    <filter>
        <filter-name>Spring character encoding filter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Spring character encoding filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>




    <!--<jsp-config>
        &lt;!&ndash; 配置c描述文件-对应c标签，这里的taglib-uri对应jsp中引入的uri
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/taglib/c.tld</taglib-location>
        </taglib>
    </jsp-config>-->


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>